.background-color{
    background-color: #f3e9f1;
}
/* input:invalid {
    border: 2px dashed red;
    background-color: pink;
  }
  
input:valid {
    border: 1px solid black;
    background-color: #f3e9f1;
  } */